*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    width: 900px;
    margin: 50px auto;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.list{
    text-transform: capitalize;
}